In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('3rd-full-cleaned-data.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,0,1,60,RL,65.0,8450,Pave,Reg,Lvl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,1,1,2,20,RL,80.0,9600,Pave,Reg,Lvl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,2,2,3,60,RL,68.0,11250,Pave,IR1,Lvl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,3,3,4,70,RL,60.0,9550,Pave,IR1,Lvl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,4,4,5,60,RL,84.0,14260,Pave,IR1,Lvl,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [4]:
df.isnull().sum().sum()

0

In [5]:
df.infer_objects()

,Unnamed: 0,Unnamed: 0.1,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,0,1,60,RL,65.0,8450,Pave,Reg,Lvl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,1,1,2,20,RL,80.0,9600,Pave,Reg,Lvl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,2,2,3,60,RL,68.0,11250,Pave,IR1,Lvl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,3,3,4,70,RL,60.0,9550,Pave,IR1,Lvl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,4,4,5,60,RL,84.0,14260,Pave,IR1,Lvl,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1455,1455,1456,60,RL,62.0,7917,Pave,Reg,Lvl,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,1456,1456,1457,20,RL,85.0,13175,Pave,Reg,Lvl,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,1457,1457,1458,70,RL,66.0,9042,Pave,Reg,Lvl,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,1458,1458,1459,20,RL,68.0,9717,Pave,Reg,Lvl,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,1459,1459,1460,20,RL,75.0,9937,Pave,Reg,Lvl,...,0,0,0,0,0,6,2008,WD,Normal,147500

In [6]:
cat_var = df.select_dtypes(include='object').columns

In [7]:
len(cat_var)

38

In [8]:
for i in cat_var:    
    print(len(df[i].unique()))

5
2
4
4
2
5
3
25
9
8
5
8
6
8
15
16
4
4
5
6
4
4
4
6
6
6
5
2
5
4
7
6
3
5
5
3
9
6

In [9]:
cat_max_10_unique_var = [feature for feature in cat_var if len(df[feature].unique())<10]

In [10]:
cat_max_10_unique_var

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [11]:
len(cat_max_10_unique_var)

35

In [12]:
dummies_df = pd.DataFrame()
dummies_df = pd.get_dummies(df[cat_max_10_unique_var],drop_first=True)

In [13]:
dummies_df.head()

,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Street_Pave,LotShape_IR2,LotShape_IR3,LotShape_Reg,LandContour_HLS,LandContour_Low,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [14]:
cat_more_than_10_var = [feature for feature in cat_var if feature not in cat_max_10_unique_var]

In [15]:
cat_more_than_10_var

['Neighborhood', 'Exterior1st', 'Exterior2nd']

In [16]:
dummies_df2 = pd.DataFrame()
for feature in cat_more_than_10_var:
    labels = df[feature].value_counts().sort_values(ascending=False).head(10).index
    for i in labels:
        dummies_df2[feature+i] = np.where(df[feature]==i,1,0)

In [17]:
dummies_df2.head()

,NeighborhoodNAmes,NeighborhoodCollgCr,NeighborhoodOldTown,NeighborhoodEdwards,NeighborhoodSomerst,NeighborhoodGilbert,NeighborhoodNridgHt,NeighborhoodSawyer,NeighborhoodNWAmes,NeighborhoodSawyerW,...,Exterior2ndVinylSd,Exterior2ndMetalSd,Exterior2ndHdBoard,Exterior2ndWd Sdng,Exterior2ndPlywood,Exterior2ndCmentBd,Exterior2ndWd Shng,Exterior2ndStucco,Exterior2ndBrkFace,Exterior2ndAsbShng
0,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [18]:
all_dummies_df = pd.concat([dummies_df, dummies_df2], axis=1)

In [19]:
all_dummies_df

,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Street_Pave,LotShape_IR2,LotShape_IR3,LotShape_Reg,LandContour_HLS,LandContour_Low,...,Exterior2ndVinylSd,Exterior2ndMetalSd,Exterior2ndHdBoard,Exterior2ndWd Sdng,Exterior2ndPlywood,Exterior2ndCmentBd,Exterior2ndWd Shng,Exterior2ndStucco,Exterior2ndBrkFace,Exterior2ndAsbShng
0,0,0,1,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,1,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,1,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,0,0,1,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1456,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
1457,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
1458,0,0,1,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
1459,0,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [20]:
df1 = pd.concat([df.drop(cat_var, axis=1),all_dummies_df], axis=1)

In [21]:
df1.head()

,Unnamed: 0,Unnamed: 0.1,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,...,Exterior2ndVinylSd,Exterior2ndMetalSd,Exterior2ndHdBoard,Exterior2ndWd Sdng,Exterior2ndPlywood,Exterior2ndCmentBd,Exterior2ndWd Shng,Exterior2ndStucco,Exterior2ndBrkFace,Exterior2ndAsbShng
0,0,0,1,60,65.0,8450,7,5,2003,2003,...,1,0,0,0,0,0,0,0,0,0
1,1,1,2,20,80.0,9600,6,8,1976,1976,...,0,1,0,0,0,0,0,0,0,0
2,2,2,3,60,68.0,11250,7,5,2001,2002,...,1,0,0,0,0,0,0,0,0,0
3,3,3,4,70,60.0,9550,7,5,1915,1970,...,0,0,0,0,0,0,1,0,0,0
4,4,4,5,60,84.0,14260,8,5,2000,2000,...,1,0,0,0,0,0,0,0,0,0

In [22]:
df1['SalePrice']

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [23]:
from sklearn.feature_selection import SelectKBest, chi2

In [24]:
x = df1.drop('SalePrice',1)
y = df1['SalePrice']

In [25]:
feature_selection = SelectKBest(score_func=chi2, k=50)

In [26]:
feature_selection.fit(x,y)

SelectKBest(k=50, score_func=<function chi2 at 0x7efc1d2158>)

In [27]:
dir(feature_selection)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_params',
 '_get_param_names',
 '_get_support_mask',
 'fit',
 'fit_transform',
 'get_params',
 'get_support',
 'inverse_transform',
 'k',
 'pvalues_',
 'score_func',
 'scores_',
 'set_params',
 'transform']

In [28]:
score = feature_selection.scores_
columns = x.columns

In [29]:
feature_analysis = pd.DataFrame((columns, score)).T

In [30]:
feature_analysis.sort_values(1, ascending=False).head(80)

                       0            1
5                LotArea   1.0115e+07
36               MiscVal  6.25333e+06
16              2ndFlrSF       464884
11            BsmtFinSF1       399985
35              PoolArea       383564
..                   ...          ...
52         LotConfig_FR2       660.51
134         HeatingQC_Fa      657.553
44          LotShape_IR2      651.226
191  NeighborhoodSawyerW      647.973
110          BsmtQual_Fa      642.363

[80 rows x 2 columns]

In [31]:
selected_features = feature_analysis.sort_values(1, ascending=False).head(80)[0]

In [35]:
type(selected_features)

pandas.core.series.Series

In [36]:
df2 = df1[selected_features]
df2['SalePrice'] = df1['SalePrice']

/data/user/0/ru.iiec.pydroid3/files/aarch64-linux-android/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:
df2['SalePrice']

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [40]:
df2.to_csv('4-datset-after-feature-selection.csv')

In [39]:
df1['SalePrice']

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64